@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Smooch&display=swap');
*{
    margin: 0;
    padding: 0;
}
body
{
  background-color: #eba5fd;
}
nav
{
    background-color: rgb(153, 2, 153);
    color: white;
    height: 90px;
    font-size: 35px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Smooch', cursive;
}

nav ul
{
    list-style-type: none;
}

.gameContainer
{ 
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container
{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.box
{
    border: 2px solid rgb(89, 0, 92);
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover
{
    background-color: rgb(185, 0, 202);
}

.info
{
    font-size: 22px;
}

.gameInfo
{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.gameInfo h1
{
    font-size: 2.5rem;
}

.imgbox img
{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0
{
    border-right: 0;
}

.bl-0
{
    border-left: 0;
}

.bt-0
{
    border-top: 0;
}

.bb-0
{
    border-bottom: 0;
}

#reset 
{
    margin: 0 23px;
    background: #a434c0;
    color: #fff;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.6rem;
    border: none;
    box-shadow: #c500f7f5 0 0 9px 3px;
    font-family: 'Smooch', cursive;
    font-size: 1.5rem;

}

.line
{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .gameContainer
    {
        flex-wrap: wrap;
    }
    .gameInfo
    {
        margin-top: 34px;
    }
    .gameInfo h1
    {
        font-size: 1.5rem;
    }
    .container 
    { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
    .line
    {
        visibility: hidden;
    }
}